html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.hidden {
  display: none;
}

h1 {
  text-align: center;
  padding: 25px 10px;
  margin-top: 50px;
}

form {
  margin: 0 auto;
  padding: 10px;
  width: 95%;
  max-width: 768px;
  border: 1px solid black;
  border-radius: 5px;
}

button {
  display: block;
  margin: 25px auto;
  padding: 10px;
  
}

.opener {
  text-align: center;
  padding: 20px 0;
}

nav {
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
}

.container {
  max-width: 1440px;
  margin: 0 auto
}

#js-results {
  max-width: 1200px;
  margin: 0 auto;
}

.home {
  margin: 20px;
  text-decoration: none;
  font-size: 1.25em;
  color: black;
}


fieldset {
  border: none;
  text-align: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

ul {
  max-width: 200px;
  text-align: left;
  margin: 20px auto;
  padding: 10px;

}

li {
  list-style: none;
}

label {
  font-size: 1.25em;
}
#mapContainer {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  max-width: 768px;
  max-height: 538px;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 2em;
  }

  p, button, input, label {
    font-size: 1.5em; 
  }

  .home {
    font-size: 1.75em;
  }

  button {
    margin-top: 40px;
  }


  form {
    padding: 25px;
  }

  input {
    margin: 0 auto 20px auto;
  }

  ul {
    max-width: 250px;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 5em;
  }
}