html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.hidden {
  display: none;
}

body {
  font-family: 'Quicksand', sans-serif;
}

#errorMessage {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

h1 {
  text-align: center;
  padding: 25px 10px;
  margin-top: 50px;
  color: whitesmoke;
  font-family: 'Rock Salt', cursive;
  text-shadow:
  -1px -1px 10px rgba(59, 59, 59, 0.7),
  0px -1px 10px rgba(59, 59, 59, 0.7),
  1px -1px 10px rgba(59, 59, 59, 0.7),
  -1px 1px 10px rgba(59, 59, 59, 0.7),
  0px 1px 10px rgba(59, 59, 59, 0.7),
  1px 1px 10px rgba(59, 59, 59, 0.7);
}

form {
  margin: 0 auto;
  padding: 10px;
  width: 95%;
  max-width: 768px;
  border-radius: 5px;
}

main {
  margin: 50px auto 0 auto;
  padding: 15px;
  width: 95%;
  max-width: 768px;
  border-radius: 5px;
  background-color: rgba(59, 59, 59, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  display: block;
  margin: 25px auto;
  padding: 10px;
  background-color: transparent;
  border: 1px whitesmoke solid;
  border-radius: 3px;
  color: whitesmoke;
  outline-offset: 5px;
}

a:focus, a:hover, button:focus, button:hover {
  font-weight: 700;
  cursor: pointer;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
  color: white;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 1.25em;
  line-height: 1.5em;
}

nav {
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
}

.navContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
}

#errorContainer {
  max-width: 768px;
}

#js-results {
  max-width: 1200px;
  margin: 0 auto;
}

.home {
  padding: 5px 20px;
  text-decoration: none;
  font-size: 1.25em;
  color: whitesmoke;
}

a {
  color: whitesmoke;
  font-weight: 600;
}


*:focus, i:focus, i:hover {
  outline: 1px solid rgb(255, 187, 0); 
  outline-offset: 1px;
  box-shadow:
  -1px -1px 5px rgba(255, 187, 0, 0.7),
  0px -1px 5px rgba(255, 187, 0, 0.7),
  1px -1px 5px rgba(255, 187, 0, 0.7),
  -1px 1px 5px rgba(255, 187, 0, 0.7),
  0px 1px 5px rgba(255, 187, 0, 0.7),
  1px 1px 5px rgba(255, 187, 0, 0.7);
}

fieldset {
  border: none;
  text-align: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="number"] {
  background-color: transparent;
  border-color: whitesmoke;
  color: whitesmoke;
  margin-left: 10px;
}

input[type="text"], select {
  display: block;
  margin: 5px auto 10px auto;
  background-color: transparent;
  border-color: whitesmoke;
  color: whitesmoke;
}

ul {
  max-width: 200px;
  text-align: left;
  margin: 20px auto;
  padding: 10px;
}

li {
  list-style: none;
}

label, select, address, a, p {
  font-size: 1.25em;
  color: whitesmoke;
}

form p {
  text-align: center;
}

#restaurantDetails {
  text-align: center;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 2.5em;
  }

  p, button, input, label, select, address, a {
    font-size: 1.5em; 
  }

  input[type=checkbox] {
    transform: scale(1.25);
  }

  .home {
    font-size: 2em;
  }

  button {
    margin-top: 40px;
  }


  form {
    padding: 0 25px 0 25px;
  }

  input {
    margin: 10px auto 20px auto;
  }

  ul {
    max-width: 250px;
  }
}

@media screen and (min-width: 1000px) {
  main {
    background-color: rgba(59, 59, 59, 0.7);
    margin: 50px auto 0 auto;
    border-radius: 50%;
    max-width: 1000px;
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  }
  
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 2.75em;
  }

  .home {
    font-size: 3em;
  }

  p, button, input, label, select, address, a {
    font-size: 1.75em; 
  }

  input[type=checkbox] {
    transform: scale(1.5);
  }

}
